$primary: #916000;
$icon-color: #916019;
$text-color:#AC8A46;
$gray-dark:#8D8D8D;
$gray-light:#E0E0E0;
$white:#fff;
$black:#000;

$font-size-xl: 40px;
$font-size-lg: 32px;
$font-size-md: 24px;
$font-size-sm: 20px;
$font-size-base: 16px;
$font-size-xs: 14px;

$font-family-sans-serif:'Noto Sans TC', sans-serif;
$font-family-Sans-Pro:'Source Sans Pro', sans-serif;

$line-height-xs: 24px;
$line-height-sm: 30px;
$line-height-md: 32px;
$line-height-lg: 36px;
$line-height-xl: 48px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-tw-bold: 500;
$font-weight-en-bold: 600;
$font-weight-bolder: 700;


