.container-fluid {
  max-width: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
}

.container {
  width: 1110px;
}

nav {
  width: 1110px;
  height: 56px;
}
nav a, nav i {
  color: #8D8D8D;
}

a {
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none;
}

header .banner {
  background-image: url(../images/index1.jpg);
  width: auto;
  height: 870px;
  background-size: cover;
}
header .title {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
header p {
  color: #fff;
  font-size: 24px;
  width: 445px;
}
header .btn {
  width: 350px;
  font-size: 28px;
}
header li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  padding-right: 10px;
}
header ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
header a {
  color: #fff;
}
header .myheader {
  background-color: #916000;
}

.product {
  padding: 60px 0px;
  font-family: "Source Sans Pro", sans-serif;
}
.product h2 {
  font-size: 32px;
  font-weight: 600;
}
.product a {
  color: #AC8A46;
  font-size: 16px;
}
.product p {
  font-size: 20px;
  font-weight: 400;
}
.product img {
  width: 100%;
}
.product .text {
  padding: 0px 80px;
}
.product button {
  width: 350px;
  font-size: 20px;
}
.product i {
  color: #916019;
}
.product span {
  color: #8D8D8D;
}
.product .col {
  padding-bottom: 58px;
}
.product h3 {
  font-size: 24px;
  font-weight: 600;
}

.nextpage {
  padding-bottom: 60px;
}
.nextpage a {
  color: #AC8A46;
  font-size: 20px;
}

.item {
  background: #E0E0E0;
  font-family: "Source Sans Pro", sans-serif;
}
.item .cardgroup {
  padding: 40px 0px;
}
.item .card {
  background-color: #E0E0E0;
}
.item h5 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}
.item span {
  color: #8D8D8D;
}

.product2 {
  font-family: "Source Sans Pro", sans-serif;
}
.product2 h2 {
  font-size: 32px;
  font-weight: 600;
}
.product2 .text {
  padding-left: 30px !important;
}
.product2 .pp {
  padding: 60px 0px !important;
}
.product2 img {
  width: 100%;
}
.product2 a {
  color: #AC8A46;
}
.product2 span {
  font-size: 20px;
}

.sub {
  background-image: url(../images/index10.jpg);
  width: 100%;
  height: 600px;
}
.sub .subtext {
  width: 350px;
}
.sub button {
  color: #fff;
  background-color: #916000;
}
.sub input {
  border: 2px solid #916000;
}
.sub h2 {
  color: #8D8D8D;
  font-size: 32px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
}

footer {
  background-color: #916000 !important;
  color: #fff;
}
footer p {
  font-size: 14px;
  margin-bottom: 0px;
}
footer a {
  color: #fff !important;
}
footer li {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
}
footer ul {
  margin-bottom: 0px;
}

.container-fluid {
  max-width: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
}

.container {
  width: 1110px;
}

nav {
  width: 1110px;
  height: 56px;
}
nav a, nav i {
  color: #8D8D8D;
}

a {
  text-decoration: none;
  list-style: none;
}

div {
  padding: 0px !important;
}

ul {
  list-style: none;
}

header .banner {
  background-image: url(../images/index1.jpg);
  width: auto;
  height: 870px;
  background-size: cover;
}
header .title {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
header p {
  color: #fff;
  font-size: 24px;
  width: 445px;
}
header .btn {
  width: 350px;
  font-size: 28px;
}
header li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  padding-right: 10px;
}
header ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
header a {
  color: #fff;
}
header .myheader {
  background-color: #916000;
}
header .link {
  width: 1110px;
  padding-top: 12px !important;
}

.product {
  padding: 60px 0px !important;
  font-family: "Source Sans Pro", sans-serif;
}
.product h2 {
  font-size: 32px;
  font-weight: 600;
}
.product a {
  color: #AC8A46;
  font-size: 16px;
}
.product p {
  font-size: 20px;
  font-weight: 400;
}
.product img {
  width: 100%;
}
.product .text {
  padding: 0px 80px !important;
}
.product button {
  width: 350px;
  font-size: 20px;
}
.product i {
  color: #916019;
}
.product span {
  color: #8D8D8D;
}
.product .col {
  padding-bottom: 58px !important;
}
.product h3 {
  font-size: 24px;
  font-weight: 600;
}

.nextpage {
  padding-bottom: 60px !important;
}
.nextpage a {
  color: #AC8A46;
  font-size: 20px !important;
}

.item {
  background: #E0E0E0;
  font-family: "Source Sans Pro", sans-serif;
}
.item .cardgroup {
  padding: 40px 0px !important;
}
.item .card {
  background-color: #E0E0E0;
}
.item h5 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}
.item span {
  color: #8D8D8D;
}

.product2 {
  font-family: "Source Sans Pro", sans-serif;
}
.product2 h2 {
  font-size: 32px;
  font-weight: 600;
}
.product2 .text {
  padding-left: 30px !important;
}
.product2 .pp {
  padding: 60px 0px !important;
}
.product2 img {
  width: 100%;
}
.product2 a {
  color: #AC8A46;
}
.product2 span {
  font-size: 20px;
}

.sub {
  background-image: url(../images/index10.jpg);
  width: 100%;
  height: 600px;
}
.sub .subtext {
  width: 350px;
}
.sub button {
  color: #fff;
  background-color: #916000;
}
.sub input {
  border: 2px solid #916000;
}
.sub h2 {
  color: #8D8D8D;
  font-size: 32px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
}

footer {
  background-color: #916000 !important;
  color: #fff;
}
footer p {
  font-size: 14px;
}
footer a {
  color: #fff !important;
}
footer li {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
}/*# sourceMappingURL=all.css.map */